* {
    width: 90%;
    margin: auto;
  
  }

  h1 {
    text-align: center;
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    color: #ccc;
  }

.display-box {
  height:  5rem;
  text-align: right;
  font-size: 5rem;
}